@{
    ViewData["Title"] = "BugReport";
}

<h1>Bug Chart</h1>

<br/>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<strong>Open Bugs:</strong>
<canvas id="Open" width="40" height="40"></canvas>
<br/><br/>
<strong>Closed Bugs:</strong>
<canvas id="Closed" width="40" height="40"></canvas>

<script>
var ctx = document.getElementById('Open').getContext('2d');
var Open = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Homepage', 'Routers', 'Contact Page', 'Google Map API', 'Relationship'],
        datasets: [{
            label: 'Open Bugs',
            data: [5, 4, 4, 3, 4],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctxd = document.getElementById('Closed').getContext('2d');
var Closed = new Chart(ctxd, {
    type: 'bar',
    data: {
        labels: ['Homepage', 'Routers', 'Contact Page', 'Google Map API', 'Relationship'],
        datasets: [{
            label: 'Closed Bugs',
            data: [4, 3, 4, 4, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>