@model Bug_Tracking_System.Models.Bug

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="BugName" class="control-label"></label>
                <input asp-for="BugName" class="form-control" />
                <span asp-validation-for="BugName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubProject" class="control-label"></label>
                <select asp-for="SubProjectId" class ="form-control" asp-items="ViewBag.SubProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TestCase" class="control-label"></label>
                <select asp-for="TestCaseId" class ="form-control" asp-items="ViewBag.TestCaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BugStatus" class="control-label"></label>
                <select asp-for="BugStatus" class="form-control">
                    <option value="New">New</option>
                    <option value="Declined">Declined</option>
                    <option value="Open">Open</option>
                    <option value="Reopen">Reopen</option>
                    <option value="Fixed">Fixed</option>
                    <option value="Closed">Closed</option>
                </select>
                <span asp-validation-for="BugStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <select asp-for="Severity" class="form-control">
                    <option value="General">General</option>
                    <option value="Medium">Medium</option>
                    <option value="Serious">Serious</option>
                </select>
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tester" class="control-label"></label>
                <select asp-for="TesterId" class ="form-control" asp-items="ViewBag.TesterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TestManager" class="control-label"></label>
                <select asp-for="TestManagerId" class ="form-control" asp-items="ViewBag.TestManagerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Developer" class="control-label"></label>
                <select asp-for="DeveloperId" class ="form-control" asp-items="ViewBag.DeveloperId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifyTime" class="control-label"></label>
                <input asp-for="ModifyTime" class="form-control" />
                <span asp-validation-for="ModifyTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CloseTime" class="control-label"></label>
                <input asp-for="CloseTime" class="form-control" />
                <span asp-validation-for="CloseTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
